@model Lab8a.Model.Phone


@{ ViewBag.Title = "Update"; }


@section Header
{
    <header>
        <h2>Update</h2>
    </header>
}


<h2>Add</h2>

@using (Html.BeginForm())
{
<div>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "")
        </div>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Number)
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number, "")
        </div>
    </div>
    <br />
    <div>
        <div>
            <input type="submit" value="Update" />
        </div>
    </div>
</div>}




<div>
    @Html.ActionLink("Back to List", "Index", "Phone")
</div>
@section Footer
{
    <footer>
    </footer>
}